NEXT_PUBLIC_SERVER_URL=

# Feature videos
NEXT_PUBLIC_MASTER_STACK_VIDEO=
NEXT_PUBLIC_MASTER_STACK_VIDEO_LOW=
NEXT_PUBLIC_SCROLLER_LAYOUT_VIDEO=
NEXT_PUBLIC_SCROLLER_LAYOUT_VIDEO_LOW=
NEXT_PUBLIC_LAYER_ANIMATION_VIDEO=
NEXT_PUBLIC_LAYER_ANIMATION_VIDEO_LOW=
